---
layout: page
title: Search on this page
js: ["lunr.min.js","search.js"]
css: ["page.css","search.css"]
---
	
{% include search_form.html %}

<p style="opacity: 0.6; color: darkmagenta; font-size: 1.2rem;margin-bottom: 20px;" ><span id="search-process">Loading</span> results <span id="search-query-container" style="display: none;">for keyword "<strong id="search-query"></strong>"</span></p>
<ul id="search-results"></ul>

<script>
	window.data = {
		{% for script in site.data.scripts.userProject %}
			{% if script.Title %}
				{% unless script.excluded_in_search %}
					{% if added %},{% endif %}
					{% assign added = false %}
					"{{ script.Title | slugify }}": {
						"id": "{{ script.Title | slugify }}",
						"title": "{{ script.Title | xml_escape }}",
						"categories": "{{ script.TagList | join: ", " | xml_escape }}",
						"url": "{{site.sourcebaseurl }}/artifacts/{{ script.ProjectId }}/{{script.ScriptFile}}",
						"content": {{ script.Description | strip_html | replace_regex: "[\s/\n]+"," " | strip | jsonify }}
					}
					{% assign added = true %}
				{% endunless %}
			{% endif %}
		{% endfor %}
	};
</script>
